<header class="header">
  <div class="container container-header">
    <div class="header-container">
      <p class="mob-text">Super Bazooka Boy</p>
      <nav class="nav">
        <button type="button" class="menu-button" aria-label="button for open menu"
          style="padding: 12px; width: 48px; height: 48px; background-color: inherit; border: none;">
          <svg class="header-svg" style="width: 24px; height: 24px;">
            <use href="/img/sprite.svg#icon-menu"></use>
          </svg>
        </button>
        <ul class="navigation-list">
          <li>
            <a class="links" href="index.html#Home">Home</a>
          </li>
          <li>
            <a class="links" href="index.html#Benefits">Benefits</a>
          </li>
          <li>
            <a class="links" href="index.html#Keys">Feature Keys</a>
          </li>
          <li>
            <a class="links" href="index.html#About">About</a>
          </li>
          <li>
            <a class="links" href="index.html#Play">How to Play</a>
          </li>
          <li>
            <a class="links" href="index.html#FAQ">FAQ</a>
          </li>
          <li>
            <a class="links" href="index.html#Reviews">Reviews</a>
          </li>
          <li>
            <a class="links" href="index.html#Gallery">Gallery</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
  <button class="modal-close-button" aria-label="close button" type="button">
    <svg class="header-svg" style="width: 24px; height: 24px;">
      <use href="/img/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <ul class="menu-list">
    <li>
      <a class="menu-list-item" href="index.html#Home">Home</a>
    </li>
    <li>
      <a class="menu-list-item" href="index.html#Benefits">Benefits</a>
    </li>
    <li>
      <a class="menu-list-item" href="index.html#Keys">Feature Keys</a>
    </li>
    <li>
      <a class="menu-list-item" href="index.html#About">About</a>
    </li>
    <li>
      <a class="menu-list-item" href="index.html#Play">How to Play</a>
    </li>
    <li>
      <a class="menu-list-item" href="index.html#FAQ">FAQ</a>
    </li>
    <li>
      <a class="menu-list-item" href="index.html#Reviews">Reviews</a>
    </li>
    <li>
      <a class="menu-list-item" href="index.html#Gallery">Gallery</a>
    </li>
  </ul>
  <button type="button" class="button">
    <a href="#" class="google-link">PLAY NOW</a>
  </button>
</div>