<!-- hero -->
 <section class="hero-section">
  <div class="container">
    <h1 class="hero-title">Super
    Bazooka Boy </h1>
    <p class="hero-text">Blast your way through epic levels in Super Bazooka Boy!</p>
    <button class="hero-bytton" type="button">
      <a href="#">PLAY NOW</a>
    </button>
    <picture class="picture">
      <source srcset="
            /img/hero/desc-logo.png    1x,
            /img/hero/desc-logo@2x.png 2x
          " media="(min-width: 1440px)" />
      <source srcset="
            /img/hero/mob-logo.png    1x,
            /img/hero/mob-logo@2x.png 2x
          " media="(max-width: 1439px)" />
      <img class="hero-text-img" src="/img/mob-logo.png" alt="Bazooka-logo"
          loading="lazy" />
  </picture>
  </div>
 </section>
 <!-- benefits -->
  <section class="benefits-section">
    <div class="container">
    <h2 class="benefits-title">Benefits</h2>
    <ul class="benefits-list">
      <li class="benefits-item">
        <img class="benefits-img" src="/img/benefits/one.jpg" srcset="
                                      /img/benefits/one.jpg,
                                     /img/benefits/one@2x.jpg
                                    " alt="Explosive Gameplay" loading="lazy"/>
        <h3 class="benefits-subtitle">Explosive Gameplay</h3>
        <p class="benefits-text">Destroy obstacles and enemies with your powerful bazooka</p>
      </li>
      <li class="benefits-item">
        <img class="benefits-img" src="/img/benefits/two.jpg" srcset="
                                      /img/benefits/two.jpg,
                                     /img/benefits/two@2x.jpg
                                    " alt="Fun & Addictive " loading="lazy"/>
         <h3 class="benefits-subtitle">Fun & Addictive</h3>
         <p class="benefits-text">Experience fast-paced action and strategic shooting</p>
      </li>
      <li class="benefits-item">
        <img class="benefits-img" src="/img/benefits/three.jpg" srcset="
                                      /img/benefits/three.jpg,
                                     /img/benefits/three@2x.jpg
                                    " alt="Challenging Levels " loading="lazy"/>
         <h3 class="benefits-subtitle">Challenging Levels </h3>
         <p class="benefits-text">Test your skills with creative and engaging level designs</p>
      </li>
      <li class="benefits-item">
        <img class="benefits-img" src="/img/benefits/four.jpg" srcset="
                                      /img/benefits/four.jpg,
                                     /img/benefits/four@2x.jpg
                                    " alt="Offline Play  " loading="lazy"/>
         <h3 class="benefits-subtitle">Offline Play  </h3>
         <p class="benefits-text">Play anytime, anywhere without an internet connection.</p>
      </li>
      <li class="benefits-item">
        <img class="benefits-img" src="/img/benefits/five.jpg" srcset="
                                      /img/benefits/five.jpg,
                                     /img/benefits/five@2x.jpg
                                    " alt="Smooth Controls " loading="lazy"/>
         <h3 class="benefits-subtitle">Smooth Controls</h3>
         <p class="benefits-text">Enjoy intuitive gameplay with easy-to-learn mechanics</p>
      </li>
    </li>
    <li class="benefits-item">
      <img class="benefits-img" src="/img/benefits/six.jpg" srcset="
                                    /img/benefits/six.jpg,
                                   /img/benefits/six@2x.jpg
                                  " alt="Upgradable Weapons  " loading="lazy"/>
       <h3 class="benefits-subtitle">Upgradable Weapons </h3>
       <p class="benefits-text">Enhance your arsenal with better firepower.</p>
    </li>
    </ul>
    </div>
  </section>
  <!-- keys -->
  <section class="keys">
    <div class="container">
      <h2 class="keys-title">Feature Keys</h2>
<ul class="keys-list">
  <li class="keys-item">
    <h3 class="keys-subtitle">Epic Bazooka Action</h3>
    <p class="keys-text">Master precision aiming and tactical destruction.</p>
    <img class="keys-img" src="/img/keys/keys-one.jpg" srcset="
                                 /img/keys/keys-one.jpg,
                                 /img/keys/keys-one@2x.jpg
                                 " alt="Epic Bazooka Action" loading="lazy"/>
  </li>
  <li class="keys-item">
    <h3 class="keys-subtitle">Physics-Based Destruction</h3>
    <p class="keys-text">Use explosions to manipulate the environment.</p>
    <img class="keys-img" src="/img/keys/keys-two.jpg" srcset="
                                 /img/keys/keys-two.jpg,
                                 /img/keys/keys-two@2x.jpg
                                 " alt="Physics-Based Destruction" loading="lazy"/>
  </li>
</li>
<li class="keys-item">
  <h3 class="keys-subtitle">Various Enemies & Obstacles</h3>
  <p class="keys-text">Face different challenges in every level</p>
  <img class="keys-img" src="/img/keys/keys-three.jpg" srcset="
                               /img/keys/keys-three.jpg,
                               /img/keys/keys-three@2x.jpg
                               " alt="Various Enemies & Obstacles" loading="lazy"/>
</li>
</li>
<li class="keys-item">
  <h3 class="keys-subtitle">Upgradeable Weapons </h3>
  <p class="keys-text">Unlock new weapons and upgrades.</p>
  <img class="keys-img" src="/img/keys/keys-four.jpg" srcset="
                               /img/keys/keys-four.jpg,
                               /img/keys/keys-four@2x.jpg
                               " alt="Upgradeable Weapons " loading="lazy"/>
</li>
<li class="keys-item">
  <h3 class="keys-subtitle">Easy Controls</h3>
  <p class="keys-text">Simple and intuitive controls for all players.</p>
  <img class="keys-img" src="/img/keys/keys-five.jpg" srcset="
                               /img/keys/keys-five.jpg,
                               /img/keys/keys-five@2x.jpg
                               " alt="Easy Controls" loading="lazy"/>
</li>
<li class="keys-item">
  <h3 class="keys-subtitle">No Wi-Fi Needed</h3>
  <p class="keys-text">Enjoy offline gameplay without interruptions.</p>
  <img class="keys-img" src="/img/keys/keys-six.jpg" srcset="
                               /img/keys/keys-six.jpg,
                               /img/keys/keys-six@2x.jpg
                               " alt="No Wi-Fi Needed" loading="lazy"/>
</li>
</ul>
    </div>
  </section>
  <!-- about -->
  <section class="about-section">
    <div class="container">
    <h2 class="abouts-title">About</h2>
    <div class="about-conteiner">
      <p class="about-text">Super Bazooka Boy is a fast-paced action-platformer that puts you in control of a hero armed with an explosive bazooka. Developed by thesitestay.com, this game features thrilling physics-based destruction, strategic shooting, and challenging levels. With intuitive controls and exciting gameplay, Super Bazooka Boy offers an unforgettable arcade experience!</p>
    </div>
    </div>
  </section>
  <!--How to play-->
  <section class="play-section">
    <div class="container">
      <h2 class="play-title">How to play</h2>
      <ul class="keys-list">
        <li class="keys-item">
    <h3 class="play-subtitle">Aim Your Bazooka</h3>
    <p class="play-text">Use precise targeting to destroy obstacles and enemies</p>
    <img class="play-img" src="/img/play/play-mob.png" srcset="/img/play/play-mob.png,
                              /img/play/play-mob@2x.png
                              " alt="Aim Your Bazooka" loading="lazy"/>
        </li>
        <li class="play-list">
          <h3 class="play-subtitle">Complete Challenging Levels</h3>
          <p class="play-text">Blast your way through action-packed missions.</p>
        </li>
        <li class="play-list">
          <h3 class="play-subtitle">Upgrade Your Weapons</h3>
          <p class="play-text">Unlock powerful upgrades for maximum destruction.</p>
        </li>
        <li class="play-list">
          <h3 class="play-subtitle">Complete Challenging Levels</h3>
          <p class="play-text">Blast your way through action-packed missions.</p>
        </li>
        <li class="play-list">
          <h3 class="play-subtitle">Utilize Physics-Based Tactics</h3>
          <p class="play-text">Make use of the environment for creative strategies.</p>
        </li>
        <li class="play-list">
          <h3 class="play-subtitle">Survive & Win</h3>
          <p class="play-text">Overcome tricky obstacles and defeat all opponents!</p>
        </li>
    </div>
  </section>
<!-- FAQ -->
<section class="FAQ">
  <div class="container">
  </div>
</section>
<!-- Reviews -->
<section class="reviews-section">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-item">
      <h3 class="reviews-subtitle">Jake Thompson </h3>
      <img class="reviews" src="/img/reviews/five-star.png" srcset="/img/reviews/five-star.png,
                               /img/reviews/five-star@2x.png
                               " alt="five-star" loading="lazy"/>
      <p class="reviews-number-text">5,0</p>
      <p class="reviews-text">Super fun and addictive! The explosions are so satisfying, and the levels are well-designed.</p>
      </li>
      <li class="reviews-item">
        <h3 class="reviews-subtitle">Emily Carter</h3>
      <img class="reviews" src="/img/reviews/five-star.png" srcset="/img/reviews/five-star.png,
      /img/reviews/five-star@2x.png
      " alt="five-star" loading="lazy"/>
      <p class="reviews-number-text">4,9</p>
      <p class="reviews-text">Love the physics-based destruction! Blasting through walls never gets old. Highly recommended!</p>
      </li>
      <li class="reviews-item">
        <h3 class="reviews-subtitle">Daniel Brown</h3>
      <img class="reviews" src="/img/reviews/four-star.png" srcset="/img/reviews/four-star.png,
      /img/reviews/four-star@2x.png
      " alt="four-star" loading="lazy"/>
      <p class="reviews-number-text">4,7</p>
      <p class="reviews-text">Great time-killer with awesome mechanics. Some levels are really challenging!</p>
      </li>
      <li class="reviews-item">
        <h3 class="reviews-subtitle">Olivia Wilson</h3>
      <img class="reviews" src="/img/reviews/four-star.png" srcset="/img/reviews/four-star.png,
      /img/reviews/four-star@2x.png
      " alt="four-star" loading="lazy"/>
      <p class="reviews-number-text">4,5</p>
      <p class="reviews-text">The upgrades make a big difference, and I love the different strategies you can use.</p>
      </li>
      <li class="reviews-item">
        <h3 class="reviews-subtitle">Liam Johnson </h3>
      <img class="reviews" src="/img/reviews/four-star.png" srcset="/img/reviews/four-star.png,
      /img/reviews/four-star@2x.png
      " alt="four-star" loading="lazy"/>
      <p class="reviews-number-text">4,2</p>
      <p class="reviews-text">Solid game with smooth controls. Would love to see more weapons added!</p>
      </li>
