body {
  font-family: 'Kode Mono', 'Pixelify Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.33333;
  color: #131d1c;
  background: #0047c2;
  margin: 0;
}
h2 {
  font-family: 'Gajraj One', sans-serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 1.27273;
  text-align: center;
  color: #fcce00;
  text-shadow: -2px -2px 0 #070082, 2px -2px 0 #070082, -2px 2px 0#070082,
    2px 2px 0 #070082;
  filter: drop-shadow(2px 2px 0 #070082) drop-shadow(-2px -2px 0 #070082);
}
.button {
  display:block;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33333;
  color: #1a1018;
  border: 2px solid #615cb4;
  border-radius: 16px;
  padding: 16px 32px;
  width: 343px;
  height: 64px;
  cursor: pointer;
margin:0 auto;
  box-shadow: 0 2px 0 0 #000;
  background: linear-gradient(180deg, #e2fe6e 0%, #3deb22 100%);
}
