
@import url('./container.css');
@import url('./base.css');
@import url('./reset.css');
@import url('./header.css');
@import url('./footer.css');

.container-header {
    margin: 0;
    padding:0;
  }
  .header-container{
    padding:12px 16px;
    max-width:340px;
  }
  .modal{
    top:0;
    left:40%;
    transform:translateX(-52%);
  }