@import url('./container.css');
@import url('./base.css');
@import url('./reset.css');
@import url('./header.css');
@import url('./footer.css');

.policy-container{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 20px;
line-height: 1.2;
color: #131d1c;
} 
.privacy-list{
text-decoration: underline;
padding-left:20px;
list-style-type: disc;
 }
@media screen and (min-width: 1439px) {
    .policy-container{
    font-size: 24px;
    line-height: 1.33333;
    } 
    .text-margin{
        margin-top:20px;
    }
    .privacy-list{
        text-decoration: none;  
    }
}